@keyframes Open {
  from {
    color: #ffffff00;
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 200px;
    color: #ffffff;
  }
}

@keyframes OpenText{
  from {
    color: #ffffff00 ;
    
  }
  to {
    
    color: #962038FF;
  }

}




.wrapper {
    display: flex;
    height: 100%;
  }
  

  .side-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
  
    color: #ffffff;
    background: #404040;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor: pointer;
  }
  
  .side-panel-toggle:hover {
    background: #962038;
  }
  
  .sp-icon-close {
    display: none !important;
  }
  .side-panel {
    display: none;
    width: 10vw;
    flex-shrink: 1;

    overflow-y: auto;
    padding: 20px;
    color: #ffffff;
    background: #404040;
    animation: Open 0.3s ease-out forwards
    
  }
  
  @media(max-width:1079px){ .side-panel {

    max-width: 24vw;
    margin-right: -10px;
   
  }
}

  

  .side-panel-open .side-panel {
    display: initial;

    
  }
  
  .side-panel-open .sp-icon-open {
    display: none !important;
  }
  
  .side-panel-open .sp-icon-close {
    display: initial !important;
  }

  .perguntas
  {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom:40px;
  }

  @media(max-width:500px){
    .perguntas
    {
      padding-top: 50px;
    }
  }

  .pergunta
    {
      font-family: "Poppins", sans-serif;
      font-size: large;
      border-radius: 10px;
      max-width: 100%;
      color: #ffffff;
      box-shadow: 5px 5px 10px #000000AA;
      animation: 0.5s ease-out 0.5s OpenText;
      animation-fill-mode: forwards;
      background-color: #ffffff;
      transition: background-color 0.7s ease;

    }


  @media(max-width:500px){
    .pergunta
    {
      font-size: small;
      font-family: "Poppins", sans-serif;
      border-radius: 10px;
      max-width: 100%;
    }
  }
  
  
  @media(min-width:501px){
  .pergunta
  {
    font-size: 160%;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    max-width: 100%;

  }
}
@media(min-width:1080px){
    .pergunta
    {
      font-family: "Poppins", sans-serif;
      font-size: large;
      border-radius: 10px;
      max-width: 100%;

    }
  }

.pergunta:hover
{ 
  cursor: pointer;
  background-color: #bdbdbd;
}