@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background: #E3F2FD;
  background-color: #FFFFFF;
  margin:0px;
  min-height:100vh;
  display: flex;
  flex-direction: column;
}
.headfoot
{
  display: flex;
  font-size: 24px;
  background-color: #962038;
}

h1
{
    font-size: 2.5vh;
    
}

h2
{
    font-size: 1.5vh;
}
img{
    height: 6.0vh;
    margin-left: 10px;
}

header {
  height: 7.5vh;
  
}

footer
{
    height:5vh;
    color: #FFFFFF;
    padding: 10px;
}

